<div class="text-center">
  <h1>Désolé, cette page n'existe pas!</h1>
  <p class="lead">
    Vérifier si votre line est exact. Vous devriez retourner à la page {{link-to "Home page" "index"}}.
  </p>
</div>