<div class="text-center">
  <h1>Oups, il y a eu un petit problème</h1>
  <p class="lead">
    Rafraichissez la page s'il vous plaît. Si cela ne marche toujours pas, retournez à la page {{link-to "Home page" "index"}}.
  </p>
</div>