<h3>Identifiez vous s'il vous plaît?</h3>

<p class="lead">
  Votre ami {{model.users.firstObject.name}} a crée l'évènement "{{model.name}}" et veux partager les dépnses avec vous. S'il vous plaît dites nous qui vous êtes et vous pourrez voir les dépenses.
</p>

{{#each model.users as |user|}}
  <button class="btn btn-default" {{action "chooseUser" user}}>
    {{user.name}}
  </button>
  &nbsp;
{{/each}}